.todo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-card{
  margin: 16px;
}
table {
  box-shadow: none !important;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-family: var(--mat-toolbar-title-text-font);
  font-size: var(--mat-toolbar-title-text-size);
  line-height: var(--mat-toolbar-title-text-line-height);
  font-weight: var(--mat-toolbar-title-text-weight);
  letter-spacing: var(--mat-toolbar-title-text-tracking);
  margin: 0;
}

.mat-column-actions {
  flex: 0 0 10%;
}
.time-left, .created-at, .actions {
  width: 140px;
}
